.header .navBtn {
  text-decoration: none;
  background-color: #4287f5;
  color:  #f2f2f2;
  padding: 10px 40px;
  border-radius: 3px;
}

.header .navBtn:active {
  background-color: #6ea2f7;
}

.navBtn:not(:last-of-type) {
  margin-right: 12px;
}